<div class="footer" style="width: 10; position: fixed;left: 0;bottom: 0;width: 100%;background-color: black;color: white;text-align: center;  ">
    <table class="table " style="color: white;text-align: center;">
        <thead>
          <tr>
            <th scope="col">Happier staff also feels much more committed to everything that comes with running a jewelry store and will treat clients much more like their own. Feeling ensured by knowing the mission and vision of the store. </th>
            <th scope="col">Happier staff also feels much more committed to everything that comes with running a jewelry store and will treat clients much more like their own. Feeling ensured by knowing the mission and vision of the store. </th>
            <th scope="col">Happier staff also feels much more committed to everything that comes with running a jewelry store and will treat clients much more like their own. Feeling ensured by knowing the mission and vision of the store. </th>
          </tr>
        </thead>
      </table>
      <p>creted By DinithiMW</p>
</div>
  
