<div class="footer" >
    <table class="table" >
        <thead>
          <tr>
            <th scope="col">Happier staff also feels much more committed to everything that comes with running a jewelry store and will treat clients much more like their own. Feeling ensured by knowing the mission and vision of the store. </th>
            <th scope="col">Happier staff also feels much more committed to everything that comes with running a jewelry store and will treat clients much more like their own. Feeling ensured by knowing the mission and vision of the store. </th>
            <th scope="col">Happier staff also feels much more committed to everything that comes with running a jewelry store and will treat clients much more like their own. Feeling ensured by knowing the mission and vision of the store. </th>
          </tr>
        </thead>
      </table>
      <p>creted By DinithiMW</p>
</div>
  
