    <div class="gallery">
       <img src="assets/images/jewe6.jpg"  [style.width.%]="50"  alt="">
       <img src="assets/images/jewe3.jpg"  [style.width.%]="50" alt=""> 
        <div class="login-box">
          
            <form  action="#" >
              
              <h1>Login</h1>
          
              <div class="textbox">
                <input type="text"  name="username" id="username"  placeholder="Username" required>
              </div>
              <div class="textbox">
                <input type="password" placeholder=" Password" name="password" required>
              </div>
          
              <input class="btn" type="button" value="Sign In">
            </form>
        
          </div> 
       
    </div>
    <app-footer></app-footer>
    <router-outlet></router-outlet>
 
   
