.row.row-no-margin {
  margin-left: 0px;
  margin-right: 0px;
}

.col-no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.bg {
  /* The image used */
  

  /* Full height */
  height: 100%;
  width: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}