
    <!--<div class="row">
      <div class="col-sm-6">
        <img src="assets/images/jewelry.jpg" style="height: 100%; width: 100%;"> 
      </div>
      <div class="col-sm-6">
        <img src="assets/images/jewelry3.jpg" style="height: 100%; width: 100%;" > 
      </div>
    </div>-->
    <!--<div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"><img src="assets/images/jewelry.jpg" > </th>
          <th scope="col"><img src="assets/images/jewelry3.jpg" style="height: 100%; width: 100%;" ></th>
         
        </tr>
      </thead>
      </table>
    </div>-->
    <div class="bg"><img  src="assets/images/jewelry2.jpg" > </div>
      <!--<div class="row row-no-margin">
        <div class="col-xs-12 col-sm-6 col-no-padding">
          <img class="thumbnail img-responsive" src="assets/images/jewelry.jpg" > 
        </div>
        <div class="col-xs-12 col-sm-6 col-no-padding">
          <img class="thumbnail img-responsive" src="assets/images/jewelry3.jpg" > 
        </div>
      </div>-->
   
